.footnoteText {
    color: #515560;
}

.footnoteTextBlue {
    color: #0e47cb;
}

.footnoteTextBlue:hover{
    color:#082b7a;
} 

.footnoteTextBlue:visited {
    color: #510dcd;
}

.footnoteTextMargin {
    margin-top: 0.5em;
    line-height: 1.2em;
}
